.g-about {
  max-width: 90%;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F4D160;
  padding:50px;

  &__text{
    width: 50%;
    line-height: 25px;
  }

  &__features{
    margin: 0 auto;
    align-items: center;
    font-size: 25px;

  }
}

.animation{
  animation: slideIN 2s;
}

.invisible{
  opacity: 0;
}

